page-list {

}
.list-md .item-block .item-inner{
    border-bottom: none;
}
.list-md .item-block .item-md{   
    border-top: 3px solid #488AFF !important;
    border-left: 1px solid #f2f2f2 !important;
    border-right: 1px solid #f2f2f2 !important;
    border-bottom: 1px solid #f2f2f2 !important;
}
