page-home {

}
.rs{
    color: green !important;
}
.right{
    text-align: right !important;
    margin-right: 10px !important;
}

.left{
    margin-left: 10px !important;
}
.ingredientes{
    font-size: 14px !important;
    color: darkgrey;
}

.categoria{
    //background-color:  //#EDE847 - Amarelo;//#FAAB30;//#32db64;//#f2f2f2; #FFC425;
    background-color:  #32db64; //#f2f2f2; #FFC425;
}

.list-md .item-block .item-md {
    border-top: 3px solid #f53d3d !important;
    border-left: 1px solid #f2f2f2 !important;
    border-right: 1px solid #f2f2f2 !important;
    border-bottom: 1px solid #f2f2f2 !important;
}